* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  height: 100%;
  max-width: 100%;

}

h1 {
  text-transform: none;
}

h2 {
  text-transform: none;
}
p{
  font-size: 18px ;
}

.intro {
  margin-top: 100px;
  padding-top: 40%;
}

.story {
  margin-top: 45%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  transition: top 0.5s ease;
}

.navbar-hide {
  top: -96px;
}

.icons{
  font-size: 90px;
  list-style: none;
  margin: auto;
  display: inline-table;
}
.icons li {
  padding: 13px;
  display: inline-block;
  color: #1a1a1a;
}
.icons p{
  margin-top: -20%;
  font-size: 18px;
  text-align: center;
}

.icons-svg{
  filter: invert(16%) sepia(0%) saturate(2051%) hue-rotate(129deg) brightness(108%) contrast(121%);
  margin: auto;
  width: 90px;
  height: 90px;
  vertical-align: .115px;
}

.talk-icons{
  font-size: 90px;
  list-style: none;
  margin: auto;
  display: inline-table;
}
.talk-icons li{
  padding: 30px;
  display: inline-block;
  color: #1a1a1a;
}
.talk-icons p{

  font-size: 18px;
  text-align: center;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.project-h1{
  margin-top: 30px;
  margin-bottom: 15px
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.pic{
  width: 330px;
  padding-right: 30px;
}




#center {
  text-align: center;
}

#logo{
  font-size: 25px;
  color:rgba(255,255,255,.5);
  
}
.fa-laptop-code:hover {
  color: #f7f7f7;
}

